/* InputBuscador.css */
.input-buscador {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eae0d5;
  border: 1px solid  #eae0d5;
  border-radius: 10px;
  padding: 10px;
  width: 900px;
  height: 50px; 
  margin: 0 auto;
}

.custom-input {
  flex-grow: 1;
  border: none; 
  outline: none; 
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px; 
  height: 30px; 
  font-size: 15px;
}

.input-buscador button {
  background-color: #22333b;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 15px;
}

.input-buscador button:hover {
  background-color: #22333b;
}
